.comment_container {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  background-color: #181818;
}

.comment_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commenter_profile_and_name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.commenter_name {
  display: flex;
  flex-direction: column;
}

.commenter_profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 2px solid #ffffff30;
}

.duration {
  color: #ffffffb1;
  font-size: 12px;
}

.comment_body {
  padding: 10px 0;
}

.comment_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.react_button,
.reply_button {
  background: none;
  color: #ccc;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  padding: 5px 10px;
  border-radius: 8px;
}

.react_button:hover,
.reply_button:hover {
  color: #2196f3;
}

.comment_actions {
  display: flex;
  gap: 12px;
}

.action_icon {
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
  transition: 0.2s ease;
}

.action_icon:hover {
  color: #2196f3;
}

.reply_input {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ffffff30;
  background-color: #222;
  color: white;
}

.replies_section {
  margin-left: 40px;
  margin-top: 10px;
  border-left: 2px solid #ffffff30;
  padding-left: 10px;
}
