/* Global Styles */
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* TopNav Specific Styles */
.top_nav {
  background-color: #181818;
}

body.light-theme .top_nav {
  background-color: #f5f5f5;
}

.connect_button {
  background: linear-gradient(
    90deg,
    rgba(15, 172, 252, 1) 35%,
    rgba(32, 127, 252, 1) 100%
  );
  border-radius: 10px;
  color: white;
  flex: 2;
}

body.light-theme .connect_button {
  color: #000000;
}

.right_objects {
  display: flex;
  align-items: center;
}

.search_input {
  display: flex;
  background-color: #0f0f0f;
  margin-right: 30px;
  flex: 2;
  border: none;
  outline: none;
  border-radius: 10px;
}

body.light-theme .search_input {
  background-color: #e0e0e0;
}

.search_font {
  background-color: transparent;
}

.logo {
  width: 150px;
}

.navname {
  font-weight: 500;
  color: white;
  padding: 12px;
}

body.light-theme .navname {
  color: black;
}

.mobile_nav_button {
  border-radius: 50%;
  background-color: transparent;
}

.theme_toggle_button {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

body.light-theme .theme_toggle_button {
  color: black;
}

@media (max-width: 600px) {
  .search_input {
    display: none;
  }

  .logo {
    width: 90px;
  }
}