.gradient_border {
  position: relative;
  border-radius: 20px;
  border: 0.25px solid #0297d5;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 12px;
}

.post_navigation {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  gap: 10px;
}

.profile img {
  width: 50px;
}

.profile_details span {
  font-weight: 600;
}

.profile_details small {
  color: #0297d5;
}

.post_body p {
  font-weight: 200;
}

.post_body img {
  width: 100%;
  border-radius: 20px;
}

.interaction_bar a {
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
}

.gradient_border hr {
  border: 0.15px solid #0296d550;
}

.comment_interaction_section {
  display: flex;
  gap: 10px;
}

.comment_interaction_section img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.comment_interaction_section .comment_field {
  flex: 3;
  display: flex;
  width: 100%;
  background-color: #222222;
  border-radius: 20px;
}

.comment_field input {
  background-color: #222222;
  border: none;
  border-radius: 20px;
  color: white;
  outline: none;
}

.post_media {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  /* No space between items */
}

.post_media img {
  width: 100%;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.toast_message {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}
