.heading {
  font-weight: 600;
}

.message {
  font-size: 17px;
  font-weight: 300;
}

.login_button {
  background: linear-gradient(
    90deg,
    rgba(15, 172, 252, 1) 35%,
    rgba(32, 127, 252, 1) 100%
  );
  border-radius: 20px;
  padding: 12px;
  border: none;
  color: white;
}
